
@font-face {
    font-family: AbeeZee;
    src: url(ABeeZee-Regular.ttf);
}
@font-face {
    font-family: AbeeZee Italic;
    src: url(ABeeZee-Italic.ttf);
}
@font-face {
    font-family: Amaranth;
    src: url(Amaranth-Regular.ttf);
}
@font-face {
    font-family: Alumni Sans;
    src: url(AlumniSans-VariableFont_wght.ttf);
}
*{
    margin: 0%;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    padding-top: 71px;
    background-color: #CED8E1;
    margin: 0% auto !important; 
    padding: 0;
    width: 1440px;
}
body::-webkit-scrollbar {
    display: none;
  }
header{
    width: 100%;
    height: 71px;
    background-color: #5C89B4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.opc{
    color: white;
    font-family: AbeeZee;
    font-size: 26px;
    display: inline-block;
    margin-left: 60px;
}
button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
#opcoes{
    margin: 13px auto;
    padding: 0%;
    width: fit-content;
}
#login{
    background-color: #0F3651;
    color: #CED8E1;
    border-radius: 50px;
    height: 47px;
    width: 159px;
    text-align: center;
    font-family: Amaranth;
    position: relative;
    left: 110px;
    padding: auto;
    margin: 0;
    padding-top: 7px;
}
.opc:hover{
    text-decoration: underline;
    cursor: pointer;
}
#secao1{
    background-color: #102B3E;
    text-align: center;
    color: #CED8E1;
    height: 700px;
    width: 100%;
    text-align: center;
}
#secao1 > h1{
    font-size: 115px;
    font-family: Alumni Sans;
    padding-top: 105px;
}
#secao1 > p{
    font-size: 40px;
    font-family: Alumni Sans;
    width: 940px;
    margin: 0 auto !important;
}
#espaço {
    height: 307px;
}
.imgs_pag1{
    position: relative;
    top: -150px;
    margin-left: 9.73%;
}
#espaço2{
    background-color: #0F3651;
    height: 100%;
}
#auxiliar{
    text-align: center;
}
#historia{
    color: #CED8E1;
    font-family: Alumni Sans;
    font-size: 100px;
}
#txt_historia{
    color: #CED8E1;
    font-size: 30px;
    font-family: Amaranth;
    width: 635px;
    height: fit-content;
    position: relative;
    left: 40px;
    top: 150px;
}
#img_ald{
    position: relative;
    left: 700px;
    top: -160px;
    height: 399px;
    width: 633px;
}
p{
    font-size: 30px;
    font-family: Amaranth;
}
#titulo_curi{
    color: #5D6C7A;
    font-family: Alumni Sans;
    font-size: 100px;
    text-align: center;
}
#espaço3 #curiosidade1 img{
    width: 541px;
}
#curiosidade1 > p{
    width: 535px;
    margin: 0% !important;
}
#curiosidade2 > p{
    width: 535px;
    margin: 0% !important;
}
.curiosidade{
    margin-left: 100px;
    display: inline-block;
    width: fit-content;
}
#titulo_not{
    color: #5D6C7A;
    font-family: Alumni Sans;
    font-size: 100px;
    text-align: center;
    margin-top: 60px;
}
#selecionar{
    list-style: none;
    padding: 0;
}
h1 > a {
    color: #dceeff;
    font-family: AbeeZee;
    font-weight: 100;
    font-size: 30px;
    text-decoration: None;
}
.not > h1{
    margin: 0 auto;
    width: 400px;
    padding-left: 15px;
}
.not > img{
    width: 270px;
    padding: 0;
    margin: 0 auto;
    border-radius: 20px;
}
.not{
    display: inline-grid;
    background-color: #245eef;
    border-radius: 10px;
    width:400px;
    height: 400px;
    padding-top: 10px;
    margin-left: 3.8%;
}
