footer{
    background-color: #0D0C0C;
    color: white;
    text-align: center;
    margin-top: 50px;
}
#img_footer{
    display: inline-block;
    margin-top: 30px;
    height: 200px;
}
#txt1_footer{
    width: 700px;
    margin: 10px auto 0 auto ;
}
#siga_nos{
    font-size: 35px;
    border-top: whitesmoke 5px solid;
    width: 500px;
    margin: 13px auto 0 auto;
}
a > img{
    margin: 15px 5px 30px;
}